/* frontend/src/styles/App.css */

/* Define que a altura mínima do corpo e do HTML é 100% da viewport */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem indesejadas */
}

.App {
  /* Configura o background */
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover; /* Garante que a imagem cubra toda a área */
  display: flex; /* Permite centralizar o conteúdo vertical e horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  min-height: 100vh; /* Garante que o App ocupe toda a altura da viewport */
  color: white; /* Cor do texto padrão para o App */
}

/* Outros estilos globais podem ir aqui */
body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}